DOMAIN=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/credentials.json
CONFIG_SHEET_URL=
CONFIG_PAGES_SHEET_NAME=
SUMMARY_CONFIG_SHEET_NAME=
CHURCH_CONFIG_SHEET_NAME=
INVITE_ONLINE_CONFIG_SHEET_NAME=
RANK_SHEET_NAME=
RANK_START_ROW=3
RANK_PAGE_INTERVAL_SECONDS=2
USER_PASSWORD=
ADMIN_TOKEN=
FACEBOOK_ACCESS_TOKEN=
SYNC_INTERVAL_MINUTES=60
# Sheets API default is 60 reads/min/user. Burst then wait.
GOOGLE_SHEETS_BATCH_SIZE=50
GOOGLE_SHEETS_BATCH_WAIT=60
TZ=UTC
